(
    collider: Cuboid(15., 15.),
    rb: Kinematic,
    velocity: LinearVelocity(Vec2(0., 0.)),
    rotation_constraints: LockedAxes(0b111),
    gravity_scale: GravityScale(1.),
    shape_caster: (
        dir: Dir2(Vec2(0.0, -1.0)),
        distance: 1.0,
    )
)