(
    ColliderBundle {
        collider: Collider::cylinder(50., 50.),
        rb: RigidBody::Dynamic,
        velocity: LinearVelocity(0., 0.),
        rotation_constraints: LockedAxes::ROTATION_LOCKED,
        gravity_scale: GravityScale::,
        friction: Friction,
        density: ColliderMassProperties,
    }
)